@font-face {
	font-family: 'bankgothic';
	src: url('../fonts/bankgothic.ttf')
}

html {
	overflow: hidden;
}

#inventory_notifications {
    font-family: bankgothic;
    position: absolute;
    bottom: 6vh;
    right: 0.5vw;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    color: #fff;
	text-shadow: -1px -1px 5px #0000006b, 1px -1px 5px #0000006b, -1px 1px 5px #0000006b, 1px 1px 5px #0000006b, -2px -2px 5px #0000006b, 2px -2px 5px #0000006b, -2px 2px 5px #0000006b, 2px 2px 5px #0000006b;
}