.color-0{color: #ffffff;}
.color-1{color: #ff4444;}
.color-2{color: #99cc00;}
.color-3{color: #ffbb33;}
.color-4{color: #0099cc;}
.color-5{color: #33b5e5;}
.color-6{color: #aa66cc;}
.color-8{color: #cc0000;}
.color-9{color: #cc0068;}

* {
  font-family: 'Oswald', monospace;
	/* font-style: normal; */
	/* font-weight: bold; */
  margin: 0;
  padding: 0;
}

.no-grow {
  flex-grow: 0;5
}

em {
  font-style: normal;
}

/* ::-webkit-scrollbar {
  width: 0.521vw;
}

::-webkit-scrollbar-thumb {
  background: #0000004d;
  border-radius: 4px;
} */

#app {
  font-family: 'Roboto', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  position: absolute;
  top: 2%;
  left: 0;
  z-index: 1;
  width: 54%;
  height: 11.354vw;
  opacity: 1;
	transition: all ease 0.3s;
	-webkit-transition: opacity 0.3s ease-in-out;
	-moz-transition: opacity 0.3s ease-in-out;
	-o-transition: opacity 0.3s ease-in-out;
	transition: opacity 0.3s ease-in-out;
}

.chat-window {
  position: absolute;
  width: 75% !important;
  height: 12.5vw;
  background-color: rgba(52, 73, 94, 0.0);
  -webkit-animation-duration: 2s;
}

.chat-messages {
  /* position: relative; */
  height: 95%;
  font-size: 1vw;
  padding: 0.521vw 1.302vw;

  overflow-x: hidden;
  overflow-y: hidden;
  /* overflow-y: scroll; */
}

.chat-input {
  font-size: 0.99vw;
  position: absolute;
  top: 12.5vw;
  width: 65%;
  /* box-sizing: border-box; */
  margin: 0.104vw 1.042vw;
/*   background: #0000004d; */
/*   box-shadow: 0 0 0.521vw #000000ad; */
  border-radius: 1.042vw;
  /* border: 1px solid rgba(173, 173, 173, 0.644); */
  text-shadow:
  -0.052vw -0.052vw 0.26vw #0000006b,
  0.052vw -0.052vw 0.26vw #0000006b,
  -0.052vw 0.052vw 0.26vw #0000006b,
  0.052vw 0.052vw 0.26vw #0000006b,
  -0.104vw -0.104vw 0.26vw #0000006b,
  0.104vw -0.104vw 0.26vw #0000006b,
  -0.104vw 0.104vw 0.26vw #0000006b,
  0.104vw 0.104vw 0.26vw #0000006b;
}

.prefix {
  position: absolute;
  margin: 0.26vw;
}

textarea {
  font-size: 0.938vw;
  display: block;
  box-sizing: border-box;
  padding: 0.26vw;
  /* padding-lef 1.563vw; */
  color: white;
  background-color: transparent;
  width: 100%;
  border-width: 0;
  height: 0.052vw;
  overflow: hidden;
  resize: none;
}

textarea:focus, input:focus {
  outline: none;
  border-radius: 0.26vw;
  background: #0000006b;
  box-shadow:
  -0.052vw -0.052vw 0.26vw #0000006b,
  0.052vw -0.052vw 0.26vw #0000006b,
  -0.052vw 0.052vw 0.26vw #0000006b,
}


.msg {
  /* margin-bottom: 0.156vw; */
}

.msg {
  text-shadow:
  -0.052vw -0.052vw 0.26vw #0000006b,
  0.052vw -0.052vw 0.26vw #0000006b,
  -0.052vw 0.052vw 0.26vw #0000006b,
  0.052vw 0.052vw 0.26vw #0000006b,
  -0.104vw -0.104vw 0.26vw #0000006b,
  0.104vw -0.104vw 0.26vw #0000006b,
  -0.104vw 0.104vw 0.26vw #0000006b,
  0.104vw 0.104vw 0.26vw #0000006b;
}

.multiline {
  white-space: pre-line;
}

.suggestions {
  list-style-type: none;
  padding: 0.26vw;
  padding-left: 0.052vw;
  font-size: 0.795vw;
  box-sizing: border-box;
  color: white;
  margin-top: 0.26vw;
  /* background-color: rgba(44, 62, 80, 1.0); */
  width: 100%;
  text-shadow:
  -0.052vw -0.052vw 0.26vw #0000006b,
  0.052vw -0.052vw 0.26vw #0000006b,
  -0.052vw 0.052vw 0.26vw #0000006b,
  0.052vw 0.052vw 0.26vw #0000006b,
  -0.104vw -0.104vw 0.26vw #0000006b,
  0.104vw -0.104vw 0.26vw #0000006b,
  -0.104vw 0.104vw 0.26vw #0000006b,
  0.104vw 0.104vw 0.26vw #0000006b;
}
.disabled {
  color: #9a9a9a;
}
.help {
  color: #b6b6b6;
}
.param { 
  color: #ff0015;
}
.param.disabled { 
  color: #99cc00;
}

.suggestion {
  margin-bottom: 0.156vw;
  background: #0000006b;
  padding: 0.26vw;
  width: 34.531vw;
  border-radius: 0.26vw;
  box-shadow:
  -0.052vw -0.052vw 0.26vw #0000006b,
  0.052vw -0.052vw 0.26vw #0000006b,
  -0.052vw 0.052vw 0.26vw #0000006b,
}