@import "https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap";

:root {
	--main-background-color: #ffffff;
	--second-background-color: rgb(230, 230, 230);
	--main-darker-background-color: #dfdfdf;
	--main-color: #000000;
	--main-black: #000000;
	--main-yellow: #ffce00;
	--main-orange: #ffc14e;
	--main-dark-gray: #808080;
	--main-darker-gray: #797979c2;
	--main-light-gray: #e5e5e5;
	--main-blue: #087fff;
	--main-light-green: #1fc93c;
	--main-green: #3ea54f;
	--main-dark-green: #3e7a489f;
	--main-paper: #fff8cc;
	--main-red: #fd3b2f;
	--main-darker-red: #9b3f3aaf;
	--main-full-red: #ff0000;
	--border-gray: #d3d3d3;
	--calculator-button: #333333;
	--calculator-button-hover: #464646;
	--calculator-operator: #ff9e0a;
	--calculator-operator-hover: #ffbb00;
	--text: #000;
	--mainbackground: #ecebeb;
	--contentbackground: #fff;
	--content2background: #6666;
	--battery: #000;
	--batteryborder: #000;
	--mainbackground2: #e6e6e6;
	--batteryborder-black: rgba(255, 255, 255, 0.5);
	--qs-white: #ffffff;
	--qs-input-background: #eeeeee;
	--qs-footer-background: #f6f6f6;
	--qs-fonts-grey: #959595;
	--qs-fonts-blue: #078ffd;
	--qs-font-awesome-blue: #0a78f3;
	--qs-whatsapp-chat-background: #dcfbcf
}

@font-face {
	font-family: ios;
	src: url(../fonts/ios.ttf)
}

@font-face {
	font-family: "Tiktok";
	src: url(../fonts/proxi.otf)
}

@font-face {
	font-family: CircularStd-Medium;
	src: url(../fonts/CircularStd-Medium.otf)
}

@font-face {
	font-family: CircularStd-bold;
	src: url(../fonts/CircularStd-Bold.otf)
}

textarea {
	resize: none
}

html {
	scroll-behavior: smooth
}

::-webkit-scrollbar {
	width: 10px;
	height: 10px;
	background: transparent;
	cursor: pointer
}

::-webkit-scrollbar-thumb {
	background-color: rgba(0, 0, 0, 0.2);
	border-radius: 10px;
	border-color: transparent;
	border-style: solid;
	border-width: calc(10px / 3);
	background-clip: padding-box
}

::-webkit-scrollbar-thumb:active {
	background-color: rgba(0, 0, 0, 0.5)
}

::-webkit-scrollbar-thumb:hover,
::-webkit-scrollbar-thumb:active {
	background-color: rgba(0, 0, 0, 0.5);
	cursor: pointer
}

body {
	margin: 0;
	padding: 0;
	overflow: hidden
}

@keyframes appleop {
	10% {
		opacity: 1
	}

	74% {
		opacity: 1
	}

	75% {
		opacity: .7
	}

	99% {
		opacity: .7
	}

	100% {
		opacity: 0
	}
}

.containter_iOS_l {
	background: #484848;
	height: 5px;
	width: 100px;
	margin-top: 355px;
	margin-left: 105px;
	z-index: 100
}

.loading_iOS {
	z-index: 120;
	width: 5px;
	background: #fff;
	position: absolute;
	height: 5px;
	transition: all .6s
}

.cont-startopsys {
	height: 655px;
	width: 308px;
	border-radius: 40px;
	top: 257px;
	right: 12px;
	margin: 17px;
	animation: 10s aparece;
	opacity: 1;
	position: absolute;
	animation-fill-mode: forwards;
	z-index: 98
}

img.img-appleop {
	position: absolute;
	height: 150px;
	margin-left: 894px;
	margin-top: 500px;
	animation: 9.7s appleop;
	opacity: 1;
	position: absolute;
	animation-fill-mode: forwards;
	z-index: 99
}

@keyframes aparece {
	10% {
		opacity: 1
	}

	90% {
		opacity: 1
	}

	100% {
		opacity: 0
	}
}

.container {
	display: none;
	position: absolute;
	bottom: -700px;
	right: 47.95px;
	user-select: none;
	overflow: hidden
}

.clear {
	clear: both
}

.left {
	float: left
}

.right {
	float: right
}

.w-50 {
	width: 50%
}

#lockScreen.hidden {
	opacity: 0;
	visibility: hidden;
	transform: translateY(-50%)
}

.phone-applications-icons {
	width: 50px;
	height: 50px;
	cursor: pointer;
	box-shadow: rgba(0, 0, 0, 0.15) 0 2px 8px;
	border-radius: 12px
}

#phone-tops {
	position: absolute;
	top: 15px;
	width: 100%;
	height: 57.54px;
	z-index: 999999
}

#specifiedustbar {
	position: absolute;
	width: 100%;
	height: 57.54px;
	z-index: 99999
}

@-webkit-keyframes pulse {
	0% {
		box-shadow: rgba(255, 255, 255, 0.2) 0 0 0 0
	}

	70% {
		box-shadow: rgba(255, 255, 255, 0) 0 0 0 10px
	}

	100% {
		box-shadow: rgba(255, 255, 255, 0) 0 0 0 0
	}
}

@keyframes pulse {
	0% {
		box-shadow: rgba(255, 255, 255, 0.2) 0 0 0 0
	}

	70% {
		box-shadow: rgba(255, 255, 255, 0) 0 0 0 10px
	}

	100% {
		box-shadow: rgba(255, 255, 255, 0) 0 0 0 0
	}
}

.phone-frame {
	position: absolute;
	width: auto;
	height: 680px;
	bottom: 0;
	right: 0;
	margin: 18px;
	z-index: 200;
	pointer-events: none;
	transition: all .7s
}

.phone-container {
	height: 666px;
	width: 300px;
	bottom: 9px;
	border-radius: 40px;
	right: 15px;
	margin: 17px;
	overflow: hidden;
	position: absolute;
	transition: all .7s;
	animation: loadphone 0s;
	opacity: 0;
	animation-fill-mode: forwards
}

@keyframes loadphone {
	0% {
		opacity: 0
	}

	90% {
		opacity: 1
	}

	100% {
		opacity: 1
	}
}

.initAnimation {
	opacity: 1
}

.phone-background {
	background-size: cover;
	background-repeat: no-repeat
}

.phone-header {
	width: 100%;
	height: 41.55px;
	top: 2px;
	z-index: 99999999999;
	position: absolute;
	color: white
}

#phone-time {
	position: relative;
	left: 5px;
	top: 21px;
	float: left;
	width: 100px;
	text-align: center;
	font-size: 13px;
	transition: ease-in-out all .4s
}

#phone-line {
	position: relative;
	left: 5px;
	top: 21px;
	float: left;
	width: 100px;
	text-align: center;
	font-size: 13px;
	transition: ease-in-out all .4s
}

#phone-icons {
	display: flex;
	align-items: center;
	position: relative;
	left: 110px;
	gap: 5px;
	top: 21px;
	width: 104px;
	transition: ease-in-out all .4s
}

.phone-application-container {
	position: absolute;
	top: 0;
	height: 92%;
	width: 100%;
	background-color: transparent;
	z-index: 100;
	transform: scale(0);
	transition: ease-in-out all .35s
}

.phone-footer {
	position: absolute;
	top: 97%;
	bottom: 0;
	height: 47.95px;
	width: 100%
}

.phone-home-container {
	position: relative;
	height: 22.057px;
	background-color: rgb(0, 0, 0);
	margin: 0 auto;
	transform: translateY(-50%);
	border-radius: 7.67px;
	transition: all .15s ease 0s;
	z-index: 500
}

#phone-applications-container2 {
	position: absolute;
	width: 100%;
	display: none;
	margin-left: 5px
}

#lock-screen {
	position: relative;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	align-content: center;
	width: 100%;
	height: 100%;
	padding: 30px;
	box-sizing: border-box;
    transition-duration: 400ms;
	transition: ease all 0.4s;
	cursor: grab;
}

#lock-screen.hidden {
	opacity: 0;
	visibility: hidden;
	transform: translateY(-50%)
}

#lock-screen-specified {
	position: absolute;
	width: 100%;
	height: 265px;
	top: 70%;
	bottom: 5px;
	cursor: grab;
	z-index: 999999
}

#lock-screen-top {
	color: #fff;
	text-align: center
}

#lock-screen-middle {
	position: absolute;
	width: 300px;
	top: 200px;
	height: 365px;
	overflow-y: hidden;
	overflow-x: hidden
}

#lock-screen-middle::-webkit-scrollbar {
	display: none
}

#lock-screen-down {
	position: relative;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	align-content: center;
	width: 220px;
	top: 440px;
	right: 2px;
	z-index: 9999999;
	opacity: 70%
}

.notifications-list-count {
	position: relative;
	background: blue;
	width: 200px;
	height: 200px;
	top: 120px
}

#lock-screen-messages {
	position: absolute;
	height: auto;
	max-height: 165px;
	width: 100%;
	top: 200px;
	bottom: 0;
	display: flex;
	flex-direction: column-reverse;
	overflow: hidden
}

.lock-screen-notification {
	position: relative;
	width: 276px;
	height: 50px;
	left: 12px;
	top: -2px;
	padding: 10px 5px;
	margin-top: 5px;
	border-radius: 10px;
	transition: all .5s;
	cursor: grab;
	background-color: rgba(225, 225, 250, 0.6);
	box-shadow: rgba(50, 50, 93, 0.1) 0 6px 12px -2px, rgba(0, 0, 0, 0.1) 0 3px 7px -3px;
	z-index: 9999999
}

.lock-screen-notification-head {
	display: flex;
	position: relative;
	width: 230px;
	align-items: center;
	float: left;
	left: 9px
}

.lock-screen-notification-body {
	display: flex;
	position: relative;
	width: 100%;
	height: 100%;
	flex-direction: column;
	float: left;
	top: 3px;
	left: 2px
}

.lock-screen-notification-msg_sender {
	position: relative;
	bottom: 30px;
	left: 43px;
	height: 35px;
	width: 180px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	font-weight: 600;
	font-family: "ios";
	font-size: 14px
}

.lock-screen-notification-msg {
	position: relative;
	bottom: 28px;
	left: 43px;
	width: 200px;
	height: 35px;
	font-size: 13px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap
}

.lock-screen-notification-time {
	position: relative;
	display: flex;
	justify-content: right;
	bottom: 10px;
	width: 60px;
	left: 158px;
	font-size: 11px;
	font-family: "ios"
}

.lock-screen-notification-app_img {
	position: relative;
	top: 7px;
	width: 32px;
	height: 32px;
	left: -5px;
	border-radius: 8px;
	margin-top: -8px
}

#lock-screen-top .time {
	position: relative;
	top: 55px;
	font-family: 'ios';
	font-weight: 600;
	color: rgb(255, 255, 255);
	font-size: 75px;
	color: pink;
	mix-blend-mode: luminosity;
	z-index: 3
}

#lock-screen-top #date {
	position: absolute;
	top: 40px;
	right: 11px;
	align-items: center;
	display: flex;
	height: 100px;
	justify-content: center;
	width: 280px;
	font-size: 16px;
	opacity: 85%;
	font-family: "ios";
	color: pink;
	mix-blend-mode: luminosity;
	z-index: 3
}

.down_padding {
	width: 36px;
	height: 36px;
	border-radius: 50%;
	background-color: rgb(0 0 0 / 54%);
	color: #ffff;
	cursor: pointer
}

.down_padding:hover {
	background-color: rgb(0 0 0 / 60%)
}

.hide,
.app_notify.hide {
	display: none;
	visibility: hidden
}

.phone-home-button {
	cursor: pointer;
	width: 110px;
	height: 4px;
	background-color: #f2f2f2;
	border-radius: 10px;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	z-index: 999999999;
	transition: all .4s
}

.phone-home-button-text:hover {
	color: rgba(214, 214, 214, 0.7)
}

.interactionDiv {
	position: absolute;
	width: 100%;
	bottom: -8%;
	height: 3%;
	left: 0;
	transition: bottom 800ms ease-in 0s;
	z-index: 3
}

.interactionDiv::after {
	content: "";
	position: absolute;
	width: 110px;
	height: 4px;
	right: 96px;
	opacity: 80%;
	background: whitesmoke;
	mix-blend-mode: luminosity;
	border-radius: 10px
}

.lockScreen .interactionDiv {
	bottom: 0
}

#inAppBar {
	cursor: pointer
}

.lockScreen .interactionDiv::after {
	animation: interactionAnim 4000ms ease-in infinite
}

.lockScreen .interactionDiv::before {
	content: "Swipe up to unlock";
	position: absolute;
	width: 100%;
	text-align: center;
	line-height: 35px;
	color: whitesmoke;
	mix-blend-mode: luminosity;
	font-size: 14px;
	font-family: "ios";
	animation: interTextAnim 4000ms ease-in infinite
}

@keyframes interTextAnim {
	0% {
		opacity: 0;
		top: -140%
	}

	40% {
		opacity: 0;
		top: -160%
	}

	60% {
		opacity: 1;
		top: -260%
	}

	82% {
		opacity: 1;
		top: -200%
	}

	100% {
		opacity: 0;
		top: -200%
	}
}

@keyframes interactionAnim {
	0% {
		top: 0
	}

	40% {
		top: 0
	}

	60% {
		top: -50%
	}

	82% {
		top: 0
	}

	100% {
		top: 0
	}
}

.dockWrapper {
	width: 100%;
	background-color: red;
	z-index: 999;
	bottom: -20px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: bottom 400ms ease-in-out 0s
}

#home-button-container {
	position: absolute;
	width: 100%;
	top: -220%;
	text-align: center;
	color: #ffffff8a;
	font-size: calc(var(--size) / 46);
	font-family: "ios";
	font-weight: 200;
	animation: interTextAnim 4000ms ease-in infinite;
	cursor: pointer;
	width: 200px;
	height: 5px;
	background: var(--battery);
	border-radius: 4px;
	position: absolute;
	bottom: 10px;
	left: 50%;
	transform: translateX(-50%);
	animation-duration: 21600s;
	z-index: 999999999
}

#popup-confirm-container {
	position: absolute;
	display: none;
	height: 100%;
	width: 100%
}

#popup-confirm {
	position: absolute;
	display: flex;
	flex-direction: column;
	left: 50%;
	top: 50%;
	width: 70%;
	height: 15%;
	transform: translate(-50%, -50%);
	align-items: center;
	justify-content: center;
	align-content: center;
	text-align: center;
	z-index: 9999;
	border-radius: 10px
}

#popup-actions-modal {
	position: absolute;
	text-align: center;
	top: 30%;
	left: 50%;
	transform: translate(-50%);
	padding-top: 0;
	height: 85px;
	width: 270px;
	border-radius: 10px;
	background: #e8e8e8;
	animation-duration: .5s;
	animation-name: popin;
	margin: 50px auto auto;
	opacity: 1;
	z-index: 99999
}

#popup-actions-modal h4 {
	margin-top: 5px
}

@keyframes popin {
	from {
		margin: 100px auto auto;
		opacity: 0
	}

	to {
		margin: 50px auto auto
	}
}

.popup-actions-button {
	border-top: 1px solid gray;
	display: inline-block;
	margin-top: 12px;
	width: 50%;
	padding: 15px 0;
	color: #007aff;
	font-family: arial;
	cursor: pointer;
	box-sizing: border-box
}

.popup-actions-button.left {
	float: left;
	border-right: 1px solid gray;
	border-bottom-left-radius: 10px;
	font-weight: 600
}

.popup-actions-button.right {
	cursor: pointer;
	float: right;
	border-bottom-right-radius: 10px;
	border-right: 1px solid gray
}

.showImage {
	z-index: 99999;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background-color: rgba(0, 0, 0, 0.5)
}

#showImage-container {
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 999999;
	background-color: rgba(0, 0, 0, 0.7)
}

.showImage-image {
	height: 600px;
	width: 1000px;
	border-radius: 10px
}

#home-button-container:before {
	height: calc(50% - 10px)
}

.phone-applications {
	display: none;
	position: relative;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0);
	transition: ease-in-out all .7s;
	transform: scale(1.5);
	top: -10px
}

#exitShake {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	align-content: center;
	position: absolute;
	top: 5px;
	right: 30px;
	width: 50px;
	height: 20px;
	font-size: 11.5px;
	font-weight: 600;
	border-radius: 20px;
	background-color: rgba(255, 255, 255, 0.5);
	transform: scale(0);
	overflow: hidden;
	cursor: pointer;
	transition: ease all .2s
}

#phone-home-applications-specified {
	position: absolute;
	width: 100%;
	height: 102% !important;
	background-color: transparent;
	overflow: auto;
	cursor: grab
}

.bluetooth-panel {
	position: relative;
	height: 100%;
	width: 100%;
	background: rgba(0, 0, 0, 0.3);
	z-index: 999;
	padding: 40px
}

.BTT {
	position: absolute;
	width: 220px;
	height: 280px;
	top: 180px;
	border-radius: 9px;
	background: white;
	box-shadow: 0 0 20px 0 #8c8c8c;
	overflow: hidden
}

.oyuncu {
	position: relative;
	overflow: auto;
	overflow-x: hidden;
	height: 200px;
	bottom: 10px;
	border-top: 1px solid #b1b1b16b
}

.oyuncu .takipbtn {
	position: relative;
	right: 19px;
	float: left;
	font-size: 16px
}

.hdr {
	width: -webkit-fill-available;
	text-align: center;
	position: absolute;
	height: auto
}

.hdr h4 {
	font-size: 14px;
	font-weight: 600
}

.altyk {
	position: absolute;
	background: #e6e6e6;
	width: 100%;
	height: 36px;
	line-height: 35px;
	text-align: center;
	bottom: 0
}

.yakindakiler {
	position: relative;
	top: 47.95px
}

.oyuncu input {
	position: relative;
	font-size: 15px;
	width: 205px;
	left: 5px;
	font-weight: 200 !important;
	border: none;
	background: none;
	white-space: nowrap;
	text-overflow: ellipsis;
	float: left;
	border-bottom: 1px solid #b1b1b16b
}

.oyuncu tr {
	margin-top: 5px;
	display: block;
	margin-left: 3px
}

.bluetooth-panel-received {
	position: absolute;
	height: 100%;
	width: 100%;
	background: rgba(0, 0, 0, 0.3);
	z-index: 999
}

.QSShared {
	position: absolute;
	width: 220px;
	height: 100px;
	top: 250px;
	left: 40px;
	border-radius: 9px;
	background: white;
	box-shadow: 0 0 20px 0 #8c8c8c;
	overflow: hidden;
	z-index: 999
}

.QSSharedtext {
	position: relative;
	top: 20px;
	font-size: 14px;
	width: 200px;
	height: 30px;
	left: 10px;
	word-wrap: break-word;
	font-family: "ios";
	text-align: center
}

.bluetooth-buttons-rec {
	position: relative;
	background: #e6e6e6;
	height: 40px;
	top: 20px;
	border-bottom-left-radius: 9px;
	border-bottom-right-radius: 9px
}

#accept-bluetooth {
	position: relative;
	top: 10px;
	left: 30px;
	font-family: "ios"
}

#cancel-bluetooth {
	position: relative;
	top: 10px;
	left: 105px;
	font-family: "ios"
}

.phone-applications-appname {
	position: absolute;
	color: #fff;
	font-size: 12px;
	top: 54px;
	left: -6px;
	width: 60px;
	text-align: center;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	font-family: "ios"
}

.phone-footer-applications .phone-applications-appname {
	display: none
}

.flash {
	font-size: 14px;
	transform: rotate(270deg);
	padding-left: 9px;
	padding-top: 8px
}

.cam {
	font-size: 15px;
	padding-left: 11px;
	padding-top: 7px
}

.gridwhatsapp-container {
	position: absolute;
	display: none;
	width: 100%;
	height: 110%;
	z-index: 9999;
	background-color: white;
	top: 0
}

.gridwhatsapp-contents {
	width: 100%;
	height: 560px;
	display: flex;
	top: 79px;
	flex-wrap: wrap;
	flex-grow: inherit;
	place-content: flex-start;
	flex-direction: row;
	overflow: auto;
	position: absolute;
	padding: 8px
}

#whatsapp-galeri-back {
	position: absolute;
	top: 56px;
	left: 12px;
	z-index: 999999;
	cursor: pointer;
	color: #0090ff;
	font-size: 20px
}

.wrapperApps {
	max-height: 500px;
	transition: ease all .2s;
	padding-left: 5px;
	padding-top: 20px;
	width: 670px;
	overflow: none
}

.gridinsta2-item {
	position: relative;
	margin: 3px
}

.phone-applications.hidden {
	opacity: 0;
	visibility: hidden;
	transform: scale(1.5)
}

.phone-application {
	position: relative;
	height: 50px;
	width: 50px;
	float: left;
	margin-left: 18px;
	margin-top: 35px;
	text-align: center;
	opacity: .9;
	transition: all .05s ease 0s;
	border-radius: 12px;
	list-style: none;
	z-index: 1
}

.phone-application.shake {
	animation: shake_xxx .2s linear alternate infinite
}

@keyframes shake_xxx {
	0% {
		transform: rotate(-2deg)
	}

	100% {
		transform: rotate(2deg)
	}
}

.applicationBlock {
	display: inline
}

#bottom-apps-container {
	position: absolute;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	align-content: center;
	bottom: 3%;
	width: 91%;
	padding: 5px;
	border-radius: 25px;
	background-color: rgba(255, 255, 255, 0.3);
	box-sizing: border-box;
	cursor: pointer
}

.bottom-apps img {
	height: 60px;
	width: 60px
}

.phone-application:hover {
	opacity: 1;
	border-radius: 30%;
	transition: 1s
}

#bottom-apps {
	position: relative;
	border-radius: 20px;
	margin-top: 20px
}

.phone-footer-applications {
	position: absolute;
	padding-top: 4px;
	width: 93%;
	height: 75px;
	left: 10px;
	top: 570px;
	background-color: rgba(225, 225, 250, 0.3);
	box-shadow: rgba(50, 50, 93, 0.1) 0 6px 12px -2px, rgba(0, 0, 0, 0.1) 0 3px 7px -3px
}

.phone-footer-applications2 {
	position: absolute;
	width: 90%;
	left: 5%;
	bottom: 5px;
	border-radius: 14px;
	background-color: rgba(255, 255, 255, 0.3)
}

.phone-footer-applications .phone-application {
	margin-bottom: 20px;
	margin-right: -3px
}

.phone-footer-applications .phone-application .phone-home-applications {
	position: relative;
	width: 100%;
	min-width: 100%;
	padding-left: 5px;
	padding-top: 5px
}

#phone-footer-applications,
#phone-footer-applications2 {
	width: 50%;
	height: 580px;
	display: inline-block
}

body .phone-home-applications,
.phone-footer-applications,
.phone-footer-applications2 {
	margin-bottom: 1px;
	border-radius: 28px
}

.phone-application>i {
	line-height: 44.114px;
	font-size: 19.18px
}

.ApplicationIcon {
	color: white
}

@keyframes shake {
	0% {
		transform: translate(1px, 1px) rotate(0deg)
	}

	10% {
		transform: translate(-1px, -2px) rotate(-1deg)
	}

	20% {
		transform: translate(-3px, 0px) rotate(1deg)
	}

	30% {
		transform: translate(3px, 2px) rotate(0deg)
	}

	40% {
		transform: translate(1px, -1px) rotate(1deg)
	}

	50% {
		transform: translate(-1px, 2px) rotate(-1deg)
	}

	60% {
		transform: translate(-3px, 1px) rotate(0deg)
	}

	70% {
		transform: translate(3px, 1px) rotate(-1deg)
	}

	80% {
		transform: translate(-1px, -1px) rotate(1deg)
	}

	90% {
		transform: translate(1px, 2px) rotate(0deg)
	}

	100% {
		transform: translate(1px, -2px) rotate(-1deg)
	}
}

.screen-notifications-container {
	display: none;
	position: absolute;
	background: rgba(46, 111, 199, 0.9);
	height: 86.31px;
	width: 326.06px;
	bottom: 47.95px;
	right: -335.65px;
	border-radius: 6.7px;
	z-index: -5
}

.screen-notification-icon {
	position: absolute;
	line-height: 89px;
	left: 19.18px;
	font-size: 35.9625px;
	color: white
}

.screen-notification-title {
	position: absolute;
	line-height: 52.745px;
	left: 71.925px;
	color: white;
	font-size: 15px !important;
	font-weight: 700 !important
}

.screen-notification-content {
	position: absolute;
	top: 40.278px;
	left: 71.925px;
	font-size: 11.508px;
	color: white;
	font-family: "ios";
	height: 33.565px;
	width: 249.34px;
	overflow: hidden
}

.phone-applications-icons:hover {
	filter: brightness(90%)
}

.app-unread-alerts {
	position: absolute;
	right: -5px;
	top: -5px;
	font-size: 11px;
	padding: 5.4px;
	border-radius: 15px;
	line-height: 7px;
	color: white;
	background: rgb(255, 0, 0);
	text-align: center;
	min-width: 20px;
	height: 18px;
	font-weight: 700;
	box-shadow: rgba(0, 0, 0, 0.16) 0 3px 6px, rgba(0, 0, 0, 0.23) 0 3px 6px
}

.device {
	position: relative;
	border-radius: 16px;
	margin: 0 auto;
	display: inline-block;
	transform: scale(1);
	width: 100%
}

.device .device-bezel {
	border-radius: inherit;
	padding: 36px 10px 24px;
	overflow: hidden;
	background: linear-gradient(240deg, rgb(141, 164, 195) 0%, rgb(79, 130, 133) 30%, rgb(7, 15, 10) 35%, rgb(10, 6, 6) 100%);
	position: relative;
	box-sizing: content-box
}

.device .device-viewport {
	contain: strict;
	width: 100%;
	margin-top: -5px;
	height: 645.5px;
	position: absolute;
	border-radius: inherit;
	transform: scale(1);
	z-index: 999;
	top: 0
}

.containerlock {
	position: relative;
	background: transparent;
	height: 100%;
	top: 3px
}

.contentlock {
	background: white
}

.contentlock img {
	height: 200px;
	width: 100%;
	object-fit: cover;
	object-position: center center
}

.body-contentlock {
	padding: 16px
}

.body-contentlock h3 {
	margin-bottom: 16px
}

.body-contentlock p {
	line-height: 1.5em;
	margin-bottom: 8px
}

@keyframes color-change {
	0% {
		color: #a9a9a9
	}

	10% {
		color: #2be02b
	}

	50% {
		color: #00ffd0
	}

	100% {
		color: #fff
	}
}

.fadeInOut {
	animation: inout 2s infinite
}

.circle-buttons {
	position: absolute;
	margin-left: 10px;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	top: 520px;
	left: 35%;
	z-index: -1
}

.circle-button-left {
	position: absolute;
	margin-left: 10px;
	top: 50%;
	left: 25%;
	width: 8px;
	background-color: rgba(255, 255, 255, 0.5);
	height: 8px;
	border-radius: 50%
}

.circle-button-right {
	position: absolute;
	margin-left: 10px;
	top: 50%;
	left: 60%;
	width: 8px;
	background-color: rgba(255, 255, 255, 0.5);
	height: 8px;
	border-radius: 50%
}

#phone-app-container img {
	width: 50px;
	height: 50px
}

.phone-footer-applications,
.phone-footer-applications2 {
	bottom: 5px
}

#bottom-apps {
	bottom: 11px
}

.buttons-inside {
	padding: 2px
}

.phone-keypad-key-call .innerKey {
	color: white;
	text-align: left;
	padding-left: .8em;
	margin-top: 13%
}

#startScreen {
	width: 100%;
	height: 100%;
	background-color: black;
	position: absolute;
	z-index: 999999
}

#startScreen .logo svg path {
	fill: currentColor
}

#startScreen .logo {
	top: 45%;
	left: 37%;
	transition-duration: .5s;
	position: absolute;
	width: 80px;
	height: 70px;
	opacity: 1;
	transition: ease all .3s;
	z-index: 999999999
}

#startScreen .logo svg {
	width: 100%;
	height: 100%;
	color: #fff
}

#startScreen.closeAnim .logo {
	transform: scale(25);
	transition-duration: .5s
}

#popup {
	display: none;
	position: absolute;
	z-index: 1001;
	right: 700px;
	top: 250px
}

.popupclass {
	margin: 0 auto;
	position: relative;
	width: 500px;
	min-height: 240px
}

.popClass img {
	border-radius: 10px
}

#closePopup {
	position: absolute;
	right: 0;
	top: -30px;
	background: #333;
	padding: 2px 6px;
	color: #ddd;
	border-radius: 5px
}

#closePopup:hover {
	cursor: pointer
}

.decorate-keys-bar {
	position: relative;
	top: 80px;
	right: 0;
	transform: rotate(-90deg)
}

.decorate-keys {
	position: absolute;
	padding: 0;
	width: 45px;
	height: 120px;
	left: -38px;
	top: 170px;
	transition: all 1s ease;
	z-index: 199
}

.slider-sound-dragg {
	height: 15px !important
}

#volumeBarFast {
	position: relative;
	box-shadow: 1px 1px 20px 5px rgba(0, 0, 0, 0.2)
}

#decorate-keys-sound {
	position: relative;
	top: 35px;
	left: 7px;
	font-size: 17px;
	z-index: 9;
	cursor: pointer
}

.decorate-keys:hover {
	left: -5px
}

#decorate-keys {
	position: relative;
	padding: 20px 0 10px 50px
}

#decorate-keys>li {
	color: white;
	font-family: sans-serif;
	font-size: 11px;
	margin-top: 18px;
	font-weight: 700;
	letter-spacing: 2px
}

.customApp {
	display: none;
	padding: 3px;
	padding-top: 9px !important
}

.app-removeapp {
	position: absolute;
	width: 20px;
	height: 20px;
	top: -3px;
	left: -5px;
	background-color: #ddd;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 16px;
	display: none;
	cursor: pointer
}

.lock-screen-locked {
	display: none;
	position: relative;
	text-align: center;
	top: 25px
}

.lock-screen-locked i {
	font-size: 25px
}

.lock-screen-unlocked {
	display: none;
	position: relative;
	text-align: center;
	top: 25px
}

.lock-screen-unlocked i {
	font-size: 25px
}

.wifi {
	position: relative;
	font-size: 11px;
	top: 1px
}

#phone-plane {
	position: relative;
	display: none;
	font-size: 13px;
	right: 2px
}

.signal {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	align-content: center;
	width: 16px;
	height: 9.3px;
	position: relative;
	overflow: hidden
}

.signal.mid:before {
	opacity: .4
}

.signal.mid:before {
	opacity: .4
}

.signal.low:before,
.signal.low:after,
.signal.low .bar::before {
	opacity: .4
}

.signal:before,
.signal:after {
	content: "";
	position: absolute;
	bottom: 0;
	width: 3px;
	border-radius: 5px;
	background-color: var(--mainIcon)
}

.signal:before {
	right: 0;
	height: 100%
}

.signal:after {
	right: 4px;
	height: 80%
}

.signal .bar:before,
.signal .bar:after {
	content: "";
	position: absolute;
	bottom: 0;
	width: 3px;
	border-radius: 5px;
	background-color: var(--mainIcon)
}

.signal .bar:before {
	right: 8px;
	height: 60%
}

.signal .bar:after {
	right: 12px;
	height: 40%
}

.battery {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	align-content: center;
	width: 18px;
	height: 10px;
	border-radius: 2px;
	border: 1px solid var(--batteryBorder);
	position: relative
}

.battery.mid:after {
	width: 50%
}

.battery.low:after {
	width: 20%;
	background-color: #ffe600
}

.battery:after {
	content: "";
	position: absolute;
	background-color: var(--battery)
}

.battery:before {
	right: -2px;
	width: 2px;
	height: 50%;
	border-top-right-radius: 1px;
	border-bottom-right-radius: 1px
}

.battery:before,
.battery:after {
	content: "";
	position: absolute;
	background-color: var(--battery)
}

.battery:after {
	left: 1px;
	width: var(--batteryPercentage);
	height: 6px;
	border-radius: 1px;
	max-width: calc(100% - 2px)
}

.island {
	position: absolute;
	top: 18px;
	height: 27.5px;
	width: 100%;
	z-index: 999999999999
}
 
.island-container {
	position: relative;
	height: 27.5px;
	width: 95px;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	background: black;
	z-index: 150;
	border-radius: 30px
}

#island-zoo {
	position: relative;
	width: 100%;
	text-align: center;
	bottom: 44px
}

#island-zoo img {
	position: relative;
	height: 10px !important;
	width: auto
}

.island-notification {
	display: none;
	position: absolute;
	top: 0;
	height: 78px;
	width: 100%;
	z-index: 140;
	transform: scale(0.1);
	transition: ease-in-out all .5s;
	top: -27px;
	z-index: 200
}

.phone-notification-container {
	position: relative;
	height: 65px;
	width: 280px;
	background: black;
	border-radius: 40px;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	box-shadow: rgba(0, 0, 0, 0.2) 0 3px 12px
}

.notification-icon {
	position: absolute;
	padding: 12px;
	z-index: 140
}

.notification-icon img {
	height: 40px;
	width: 40px;
	border-radius: 50%;
	z-index: 140
}

.notification-title {
	position: absolute;
	top: 26px;
	left: 60px;
	font-size: 11px;
	color: darkgray !important;
	z-index: 140;
	width: 155px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis
}

.notification-text {
	position: absolute;
	top: 40px;
	left: 60px;
	font-size: 12px;
	color: white;
	width: 195px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	z-index: 140
}

.island-call-alert {
	display: none;
	position: absolute;
	top: 0;
	height: 78px;
	width: 100%;
	z-index: 140;
	transform: scale(0.1);
	transition: ease-in-out all .5s;
	top: -27px;
	z-index: 210
}

.island-call-alert-container {
	position: relative;
	height: 55px;
	width: 280px;
	background: black;
	border-radius: 40px;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	box-shadow: rgba(0, 0, 0, 0.2) 0 3px 12px;
	background: black
}

.island-call-ongoing {
	display: none;
	position: absolute;
	top: 0;
	height: 27.5px;
	width: 100%;
	z-index: 140
}

.island-call-ongoing-container {
	position: relative;
	height: 27.5px;
	width: 27px;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	background: black;
	z-index: 150;
	border-radius: 30px;
	transition: ease-in-out all .4s
}

@keyframes open {
	10% {
		margin-top: -5%;
		margin-left: 0;
		transform: rotateY(0deg)
	}

	90% {
		transform: rotateY(180deg);
		margin-left: -30%;
		margin-top: -5%
	}
}

div.fpsmeter {
	display: none;
	position: fixed;
	top: 0px;
	left: 0px;
	height: auto;
	width: auto;
	padding: 25px;
	box-sizing: border-box;
	opacity: 0.8;
  }