.uber-app {
  display: none;
  width: 100%;
  height: 115%;
  background-color: white;
}

#uber-app-header {
  position: relative;
  height: 80px;
  padding: 10px;
  z-index: 50;
  top: 10px;
  border-bottom: 1px solid rgba(109, 108, 108, 0.473);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.2);
}

.uber-header-icons {
  position: relative;
  width: 277px;
  height: 30px;
  top: 35px;
}

.uber-header-icons i {
  position: relative;
  padding: 4px;
}

#uber-delivery {
  position: relative;
  background: black;
  color: white;
  width: 80px;
  height: 25px;
  border-radius: 20px;
}

#uber-take {
  position: relative;
  width: 80px;
  height: 25px;
}

#uber-app-background img {
  position: relative;
  width: auto;
  height: 570px;
  width: 297px;
  bottom: 40px;
  object-fit: cover;
}

#uber-app-footer {
  background: white;
  position: relative;
  bottom: 130px;
  height: 90px;
  width: 100%;
  border-top: 1px solid rgba(109, 108, 108, 0.473);
  box-shadow: 0 -3px 7px rgba(0, 0, 0, 0.15);
}

#uber_active {
  position: absolute;
  padding: 15px;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0 2px 8px;
  border-radius: 8px;
  left: 50px;
  top: 15px;
  height: 50px;
  width: 200px;
  text-align: center;
}